<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/login">
        <input type="text" placeholder="username">
        <input type="text" placeholder="password">
        <input type="submit" value="Login">
        <button><a href="/login/fb">Login with facebook</a></button>
        <button><a href="/login/gmail">Login with gmail</a></button>
    </form>
</body>
</html>