<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{username}}</title>
</head>
<body>
    <p>Username: {{username}}</p>
    <p>Authorised with:</p>
    <ul>
        {{#each resources as |resource|}}
            <li>{{resource}}</li>
        {{/each}}
    </ul>
</body>
</html>